.card-naoko {
  font-size: 12px;
  border-color: rgb(134, 23, 162) !important ;
  border-width: medium !important;
  color: rgb(14, 5, 22);
}

.card-img {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 185px;
  height: 250px;
  text-align: center;
  display: block;
  border-radius: 10px;
  box-shadow: 5px;
}

@media (max-width: 700px) {
  .card-1 {
    font-size: 10px;
  }
  .card-img {
    margin-left: 105px;
    box-shadow: 10px;
  }
}
